.card {
  width: 75%;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  background: #ffffff;
  margin: 40px auto;
}

.Typist .Cursor {
  display: inline-block;
}

.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

.Cursor {
  font-size: 100px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#g1,
#g5,
#g9,
#g13,
#g17,
#g21,
#g25,
#g29,
#g33,
#g37,
#g41,
#g45,
#g49,
#g53,
#g57,
#g61,
#g65,
#g69,
#g73,
#g77,
#g81,
#g85,
#g89,
#g93,
#g97,
#g101,
#g105,
#g109,
#g113,
#g117,
#g121,
#g125,
#g129,
#g133,
#g137,
#g141,
#g145,
#g149,
#g153,
#g157,
#g161,
#g165,
#g169,
#g173,
#g177,
#g181 {
  animation: anim2 3s infinite;
}

@keyframes anim4 {
  0%,
  10% {
    fill: #daa520;
  }
  100% {
    fill: #161748;
  }
}

#g2,
#g6,
#g10,
#g14,
#g18,
#g22,
#g26,
#g30,
#g34,
#g38,
#g42,
#g46,
#g50,
#g54,
#g58,
#g62,
#g66,
#g70,
#g74,
#g78,
#g82,
#g86,
#g90,
#g94,
#g98,
#g102,
#g106,
#g110,
#g114,
#g118,
#g122,
#g126,
#g130,
#g134,
#g138,
#g142,
#g146,
#g150,
#g154,
#g158,
#g162,
#g166,
#g170,
#g174,
#g178,
#g182 {
  animation: anim3 3s infinite 1s;
}

@keyframes anim3 {
  0%,
  10% {
    fill: #daa520;
  }
  100% {
    fill: #161748;
  }
}

#g3,
#g7,
#g11,
#g15,
#g19,
#g23,
#g27,
#g31,
#g35,
#g39,
#g43,
#g47,
#g51,
#g55,
#g59,
#g63,
#g67,
#g71,
#g75,
#g79,
#g83,
#g87,
#g91,
#g95,
#g99,
#g103,
#g107,
#g111,
#g115,
#g119,
#g123,
#g127,
#g131,
#g135,
#g139,
#g143,
#g147,
#g151,
#g155,
#g159,
#g163,
#g167,
#g171,
#g175,
#g179,
#g183 {
  animation: anim4 3s infinite 2s;
}

@keyframes anim4 {
  0%,
  10% {
    fill: #daa520;
  }
  100% {
    fill: #161748;
  }
}

#g4,
#g8,
#g12,
#g16,
#g20,
#g24,
#g28,
#g32,
#g36,
#g40,
#g44,
#g48,
#g52,
#g56,
#g60,
#g64,
#g68,
#g72,
#g76,
#g80,
#g84,
#g88,
#g92,
#g96,
#g100,
#g104,
#g108,
#g112,
#g116,
#g120,
#g124,
#g128,
#g132,
#g136,
#g140,
#g144,
#g148,
#g152,
#g156,
#g160,
#g164,
#g168,
#g172,
#g176,
#g180 {
  animation: anim5 3s infinite 3s;
}

@keyframes anim5 {
  0%,
  10% {
    fill: #daa520;
  }
  100% {
    fill: #161748;
  }
}
